examples/intent-sample-app/src/main/mule/intent-sample.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:infer="http://www.mulesoft.org/schema/mule/infer"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/infer http://www.mulesoft.org/schema/mule/infer/current/mule-infer.xsd">

    <http:listener-config name="http-listener-config">
        <http:listener-connection host="0.0.0.0" port="8099"/>
    </http:listener-config>

    <!--
      拡張辞書（SHIPPING意図 + orderId/date/quantity/phone/email スロット）を
      dictionaryDir で外部指定。再ビルドなしで辞書だけ差し替え可能なことを示す例。
    -->
    <infer:config name="infer-config"
                  dictionaryDir="/home/myst/projects/inference/examples/intent-sample-app/dictionary"/>

    <flow name="classify-flow">
        <http:listener config-ref="http-listener-config" path="/classify"/>
        <set-payload value="#[output text/plain --- payload]" mimeType="text/plain"/>
        <!-- 自然言語 → { intent, confidence, ranking, slots } (application/json) -->
        <infer:classify config-ref="infer-config" text="#[payload]"/>
    </flow>
</mule>
